*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    /* position: absolute;
    width: 100%;
    height: 100%; */
    
}

.container{
   
    width: 100%;
    /* height: 100%; */
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* flex-direction: column; */
   
}

.containerBx{

    width: 100%;
    margin-bottom: 10px;
    
    background: #f9f9f9;

}

.bxTop{
    width: 100%;
    height: 100px;
    background: #18181C;
    border-bottom: 1px solid #777;
}

.bxHeader1{
    width: 100%;
    height: 50%;
    font-weight: bold;
}

.bxHeader2{
    width: 100%;
    height: 50%;
    display: flex;
}

.bxHeader2_{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

.bxTopTitle{
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
}

.bx{

    max-width: 1100px;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    overflow: auto;
    /* margin: 10px 0px; */
    display: flex;
}

.bx_inner{
    height: 100%;
    display: flex;
    margin: auto;
}

.container_bx{
   
    height: 100%;
}

.bx_inner_right{

    width: 30px;
    height: 100%;
   
      
    
}

.bxHeader{
    width: 100%;
    height: 20px;
    display: flex;
    color: #111;
}

.gradeCount{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.bxB{
    width: 100%;
    height: calc(100% - 20px);
    
}

.bxBbrac{
    position: relative;
    width: 700px;
    height: 100%;
    
}

.gradeMark{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.casaMark{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boll{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #D7E1DF;
}

.bxCasa{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.trasteMark{
    width: 2px;
    height: 100%;
    background: #C7C6BD;
}

.gradeCordas{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bxCorda{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corda{
    width: 100%;
    background: #FBF4E2;
    margin: 1.5px;
}


.gradeNotas{

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  

}

.num_cordas{

    position:relative;
    display:flex;
   
    width: 100%;
    height: 100%;

}

.gradeNotasCasa{
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradeNotasCasa:hover{
    background: yellowgreen;
}

/* Controll */

.bxControl{
    width: 100%;
    height: 200px;
    background: #18181C;
    border-top: 1px solid #777;
    display: flex;
    justify-content: space-between;
}

.bx_left{
    width: 150px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn_bx_left{
    padding: 7px 0px;
    width: 120px;
    background: linear-gradient(145deg, #161619, #1a1a1e);
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  5px 5px 10px #0d0d10,
             -5px -5px 10px #232328;
    cursor: pointer;
}

.bx_controll2{
    flex-basis: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx_controll2Center{
    width: 98%;
    height: 90%;
    border-radius: 5px;
    background: #18181C;
    /* box-shadow: inset 5px 5px 10px #131317,
            inset -5px -5px 10px #1d1d21; */
}

.btn_bx_left:active{
    box-shadow:  1px 1px 10px #272727,
             -1px -1px 10px #3f3f3f;
}

.big-footer{
    width: 100%;
    height: 200px;
    background: #222;
}

footer{
    width: 100%;
    height: 40px;
    background: #111;
}

.bx_pages{
    height: 100%;
}

.bx_pages_pages{
    color: #fff;
    height: 100%;
}

.container_select{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_select_bx{
    width: 100%;
}

.container_select_bx_select{
    width: 100%;
    margin-bottom: 10px;
}


.boll_2{
    width: 25px;
    height: 15px;
    border-radius: 7.5px;
    background: green;
    border: 2px solid #fff;
}

.bx_inner_right_space{
    width: 100%;
    height: 20px;
   
}

.bx_inner_right_center{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.bx_inner_right_center_name{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
}

@media(max-width:900px){

    .bx{
        width: 100%;
       
    }

    
}

@media(max-width:400px){

    .bx_left{

        width: 100%;
        height: 60px;
        display: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    }

    .bxButton{
        display: flex;
    }

    .btn_bx_left{
       
       margin: 5px 5px;
    }

    .bxControl{
        height: 300px;
        flex-wrap: wrap;
    }

    .desktop{
        display: none;
    }

    .bx_controll2{
        height: calc(100% - 60px);
    }

    .bx_pages_pages{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

}


@media(min-width:400px){

    
    .containerBx{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    

}


/* ======================= Scroll ========================== */

/* ::-webkit-scrollbar {
    width: 12px;
    https://www.youtube.com/watch?v=zslN9L8DKSE&t=598s
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(148, 148, 148); 
} */
