*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body{
    /* position: absolute;
    width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
   
    width: 100%;
    /* height: 100%; */
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* flex-direction: column; */
   
}

.containerBx{

    width: 100%;
    margin-bottom: 10px;
    
    background: #f9f9f9;

}

.bxTop{
    width: 100%;
    height: 100px;
    background: #333;
    border-bottom: 1px solid #777;
}

.bxTopTitle{
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
}

.bx{
    
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 10px auto;

}

.bxHeader{
    width: 100%;
    height: 20px;
    display: flex;
    color: #111;
}

.gradeCount{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bxB{
    width: 100%;
    height: 100%;
    background: darkmagenta;
}

.bxBbrac{
    position: relative;
    width: 700px;
    height: 100%;
    background: #44362F;
}

.gradeMark{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.casaMark{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boll{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #D7E1DF;
}

.bxCasa{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.trasteMark{
    width: 2px;
    height: 100%;
    background: #C7C6BD;
}

.gradeCordas{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bxCorda{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corda{
    width: 100%;
    background: #FBF4E2;
    margin: 1.5px;
}


.gradeNotas{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  

}

.num_cordas{
    display:flex;
    width: 100%;
    height: 100%;

}

.gradeNotasCasa{
    height: 100%;
    width: 100%;
    z-index: 100;
}

.gradeNotasCasa:hover{
    background: yellowgreen;
}

/* Controll */

.bxControl{
    width: 100%;
    height: 200px;
    background: #333;
    border-top: 1px solid #777;
}

.bx_left{
    width: 150px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn_bx_left{
    padding: 7px 0px;
    width: 120px;
    background: #333;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  5px 5px 10px #272727,
             -5px -5px 10px #3f3f3f;
    cursor: pointer;
}

@media(max-width:900px){
    .bx{
        width: 100%;
    }
}

@media(max-width:400px){

   
    
    .bx_left{

        width: 100%;
        height: 60px;
        display: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    }

    .bxButton{
        display: flex;
    }

    .btn_bx_left{
       
       margin: 5px 5px;
    }

    .bxControl{
        height: 300px;
    }
}


@media(min-width:400px){

    .containerBx{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

}


/* ======================= Scroll ========================== */

/* ::-webkit-scrollbar {
    width: 12px;
    https://www.youtube.com/watch?v=zslN9L8DKSE&t=598s
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(148, 148, 148); 
} */
