

.tb-box{
    position: relative;
    width:100%;
    height: 110px !important;
    /* background: yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    margin: auto 0px;
}

.tb-title{
    width: 100%;
    height: 30px;
}

.tb-name{
    position: relative;
    width: 40px;
    height: 110px !important;
    display: flex;
    flex-direction: column;
}

.nn{
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tb-container{
    position: relative;
   
    width: calc(100% - 40px);
    height: 100% !important;
}

.tb-container-grade-cordas{
    position: absolute;
 
    width: calc(100% - 50px);
    height: 100% !important;
    /* background: red; */

    display: flex;
    flex-direction: column;

}

.tb-container-grade-cordas-cordas{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.tb-container-grade-cordas-cordas-c{
    position: relative;
    width: 100%;
    height: 2px !important;
    background: #ccc;
}

.tb-container-grade-notas{
    position: absolute;
  
    width: calc(100% - 50px);
    height: 100% !important;
    /* background: yellow; */

    display: flex;
    flex-direction: column;
}

.tb-container-grade-notas-notas{
    
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
}

.tb-container-grade-notas-notas .tb-container-grade-notas-notas-casa{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    text-shadow: 0px 0px 10px #e9e9e9;
}

